{% extends "template.html" %}
{% block main %}
<div class="d-flex flex-column align-items-start w-75 mt-0 mb-4"></div>
    <p>Výpis úkolů</p>
    {% for task in tasks %}
        <li>id úkolu: {{ task.id }}</li>
        <li>Název úkolu: {{ task.title }}</li>
        <li>Popis úkolu: {{ task.description }}</li>
        <li>Datum úkolu: {{ task.due_date }}</li>
        <li><img class="align-self-center" src="media/{{ task.photo }}" style="width: 200px; height:auto;"></li>
        <br>
    {% endfor %}
</div>
{% endblock %}